body {
  font-family: Arial, sans-serif;
  background: #1c1f26;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header{position:fixed; top:0; left: 0; width:100%; padding: 20px 10%; position: transparent; display: flex; justify-content: space-between; align-items: center; z-index:100; }
.logo{font-size: 25px; color: #fff; text-decoration: none; font-weight: 600; cursor: default ;}
.navbar { display:flex; gap:40px; margin-left: 850px;}
.navbar a {font-size:18px; color:#fff; text-decoration: none; font-weight: 500; transition:.3s;}
.navbar a:hover,.navbar a.active {color: #0ef ;}

.about-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: cyan;
  margin-bottom: 30px;
}

.info-box {
  background: #2a2e38;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

.info-box h2 {
  color: #ff4d4d;
  margin-bottom: 10px;
}

.info-box p, .info-box li {
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.resume-link {
  text-align: center;
  margin-top: 30px;
}

.resume-link a {
  background: cyan;
  color: black;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.resume-link a:hover {
  background: #00b3b3;
  color: white;
}
